@charset "UTF-8";

*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html
{
    background-color:rgba(0, 0, 0, 0.932) ;
}

header
{
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

section
{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 350px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#top
{
    padding-bottom: 15px;
}

label
{
    cursor: pointer;
}

footer
{
    padding-top: 10px;
    color: white;
    text-align: center;
}